* {
    box-sizing: border-box;
}

#root {
    height: 100vh;
}

.app-wrapper {
    width: 95%;
    height: 95%;
    margin: auto;
    border: 1px black dotted;
    padding: 10px;
}

.navbar-wrapper {
    border: 1px black solid;
    padding: 15px;
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.form-wrapper {
    padding: 30px;
    text-align: center;
}

h1,h2,h3,h4,h5,h6 {
    text-align: center;
}